*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    max-width: 100%;
    border: 2px solid red;
    height: 50px;
    display: flex;
    justify-content: space-between;
}
.navbar-2{
    height: 40px;
    background-color: #232f3e;
}
.left{
    width: 70%;
    border: 2px solid green;
}
.lists ul{
    display: flex;
    color: white;
    gap: 5px;
    justify-content: space-around;
    
    
    
}
ul{
    list-style-type: none;
    
    
}
li{
    /* border: 2px solid wheat; */
    margin-top: 7px;
    
}
li:hover{
    border: 2px solid red;
}
.right{
    width: 25%;
    border: 2px solid red;
}
.logo img{
    width: 95%;
}